[submodule "dependencies/raylib-modern"]
	path = dependencies/raylib
	url = https://github.com/raysan5/raylib
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/rlImGui/rlImGui"]
	path = dependencies/rlImGui/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "dependencies/TeXRender"]
	path = dependencies/TeXRender
	url = git@github.com:nazimaraz/TeXRender.git
